
html {
  scroll-behavior: smooth; 
}


.navbar {
  overflow: hidden;
  background-color: rgb(38, 28, 134); 
  margin-bottom: 30px;
  border-radius: 10px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  transition: 2s;
}
.navbar a[id^='log'] {
  background-color: #7277D8;
}
.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  border-radius: 10px;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: white;
  color: black;
  transition: 2s;

}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #2F3485;
  margin: 2px 10px 10px 10px;
  width: 1330px;
  z-index: 1;
  border-radius: 10px;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  transition: 2s;
}

.subnav-content a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 2s;
}

.subnav:hover .subnav-content {
  display: block;
}
@media screen and (max-width: 400px) {
  .navbar a {
      float: none;
      width: 100%;
  }
  .dropdown .dropbtn{
    float: none;
      width: 100%;

  }
  .header img{
    width: 0%;
    height: 0%;
    size: initial;
  }
}


  * {
    box-sizing: border-box;
}

body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    

    background-color: #ffffff;
   
    
    
}

/* Header/Blog Title */
.header {
    
    text-align: center;
    background:  inherit;
    border-radius: 20px;
  
}

.header h3 {
    overflow: hidden;
    
    font-family: 'Aquatico', sans-serif;
    color: rgb(38, 28, 134);
    font-size: 30px;
    position: relative;
    /* bottom:  280px; */
    z-index: 2;
    right: 100px;
}
.header img:hover {
  z-index: 1;
  
}
.header img{

  align-items: center;
  size: initial;
  height: 300px;
  position: relative;
  
  z-index: 3;
}



.leftcolumn {   
    float: left;
    width: 75%;
    
}


.rightcolumn {
    float: right;
    width: 25%;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 20px;
}
 
.fakeimg {
    background-color: #7277D8;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    color: 	#080E73;
    border:solid 1px #7277D8 ;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: rgb(148, 136, 214);
    margin-top: 20px;
    transition: 3s;
    height: 200px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
    .img {
      width: 100%;
      height: initial !important;
    }
    .icon-bar {
      left: auto !important;
    }

}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}




.icon-bar {
  position: absolute;
  left: 40%;
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

.icon-bar a {
  
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  margin: 10px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  /* margin-left: 75px; */
  font-size: 30px;
}


@media (max-width: 685px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar a {
    text-align: left;
  }
  .icon-bar a {
    padding: 8px;
  }
}
.reg{
  
  margin:0px 15% 20px 15% ;
  padding: 10px;
  width: 70%;
  border: solid #000 1px;
  border-radius: 10px;
}